In [1]:
import pandas as pd

C:\Users\ADMIN\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [12]:
flats_1=pd.read_excel('Ready_to_move.xlsx')
flats_1=flats_1[0:1500]
flats_2=pd.read_excel('flats_mumbai.xlsx')
flats_2=flats_2[0:1900]

In [13]:
flats_1['Price'].value_counts()

Price
₹1.10 Cr    36
₹95 Lac     35
₹1.80 Cr    31
₹1.50 Cr    30
₹2 Cr       27
            ..
₹3.11 Cr     1
₹2.42 Cr     1
₹8.10 Cr     1
₹15 Cr       1
₹17 Lac      1
Name: count, Length: 313, dtype: int64

In [14]:
flats_2['Price'].value_counts()

Price
₹95 Lac      42
₹1.10 Cr     42
₹1.50 Cr     39
₹1.60 Cr     33
₹2 Cr        33
             ..
₹13 Lac       1
₹9.90 Cr      1
₹67.5 Lac     1
₹4.80 Cr      1
₹28.5 Lac     1
Name: count, Length: 337, dtype: int64

In [15]:
df=pd.concat([flats_1,flats_2],axis=0)
df.sample(10)

,Name,Link,Society,Price,Sqft,Carpet,Furnished,Floor,balcony,bathroom,Bedroom
593,"2 BHK Ready to Occupy Flat for sale Palava, ca...",NaN,NaN,₹48 Lac,₹5811 per sqft,NaN,Furnished,8 out of 8,NaN,2.0,2.0
420,Studio Apartment for sale Bhandup West,NaN,NaN,₹36 Lac,₹18000 per sqft,200 sqft,Unfurnished,Ground out of 1,NaN,1.0,NaN
419,2 BHK Ready to Occupy Flat for sale in Eastern...,https://www.magicbricks.com/eastern-winds-sion...,Eastern Winds,₹2 Cr,₹23529 per sqft,723 sqft,Semi-Furnished,15 out of 15,NaN,2.0,2.0
1399,1 BHK Ready to Occupy Flat for sale Virar,NaN,NaN,₹18 Lac,₹4500 per sqft,NaN,Unfurnished,2 out of 4,NaN,1.0,1.0
1109,1 BHK Ready to Occupy Flat for sale Virar West,NaN,NaN,₹39 Lac,₹5954 per sqft,NaN,Semi-Furnished,5 out of 8,NaN,1.0,1.0
1011,2 BHK Ready to Occupy Flat for sale Borivali West,NaN,NaN,₹2.20 Cr,₹26829 per sqft,640 sqft,Furnished,3 out of 7,NaN,2.0,2.0
1391,1 BHK Ready to Occupy Flat for sale in Krish R...,https://www.magicbricks.com/krish-royale-parel...,Krish Royale,₹1.70 Cr,₹30909 per sqft,400 sqft,Semi-Furnished,15 out of 18,1,1.0,1.0
1313,Studio Apartment for sale Virar East,NaN,NaN,₹12 Lac,₹5714 per sqft,NaN,Unfurnished,2 out of 5,NaN,2.0,NaN
749,1 BHK Ready to Occupy Flat for sale Powai,NaN,NaN,₹1.30 Cr,₹23636 per sqft,NaN,Furnished,3 out of 3,NaN,1.0,1.0
318,2 BHK Ready to Occupy Flat for sale in NG Roya...,https://www.magicbricks.com/ng-royal-park-kanj...,NG Royal Park,₹1.50 Cr,₹15740 per sqft,625 sqft,Semi-Furnished,5 out of 15,NaN,2.0,2.0

In [16]:
len(df)

3400

In [17]:
column_type = df['Sqft'].dtype
print(column_type)

object

In [18]:
df.drop(columns=['Link','Society'],inplace=True)

In [19]:
feature=df[df['Price'].notna()]

In [20]:
feature.shape

(3400, 9)

In [21]:
df.isnull().sum()

Name            0
Price           0
Sqft          369
Carpet        848
Furnished      47
Floor          32
balcony      2134
bathroom       21
Bedroom        78
dtype: int64

In [43]:
len(df)
# df.head()

3400

# Cleaning and Filling Missing Values

In [64]:
df=df.drop(columns=['society'])

In [65]:
#Filling Missing Values of Society with the help of Name

#Converting name into series for manipulation
names=pd.Series(df['Name'])

# #Creating list for storing the data
name_list = []

for name in names[0:4770]:
    a=name.split()
    name_list.append(a[-2:])

# #Joined the split words
society_names = [' '.join(sublist) + '' for sublist in name_list]

Society=pd.DataFrame({'society':society_names})

# # #Joing Society column with df
df=pd.concat([df,Society],axis=1)
df.head(2)

,Name,Price,area,price_per_sqft,Furnished,Floor,balcony,bathroom,Bedroom,society
0,3 BHK Ready to Occupy Flat for sale in Girivan...,₹3.10 Cr,₹25833 per sqft,979 sqft,Semi-Furnished,6 out of 13,1,3.0,3.0,Paramjyoti Chembur
1,2 BHK Ready to Occupy Flat for sale Dahisar West,₹1.85 Cr,NaN,707 sqft,Unfurnished,3 out of 6,NaN,2.0,2.0,Dahisar West

In [68]:
df.columns

Index(['Name', 'Price', 'area', 'price_per_sqft', 'Furnished', 'Floor',
       'balcony', 'bathroom', 'Bedroom', 'society'],
      dtype='object')

In [24]:
df.isnull().sum()

Name            0
Price           0
Sqft          369
Carpet        848
Furnished      47
Floor          32
balcony      2134
bathroom       21
Bedroom        78
dtype: int64

In [25]:
df=df.rename(columns={'Carpet':'price_per_sqft','Sqft':'area'})

In [90]:
df['Price'].value_counts()

Price
₹1.10 Cr     78
₹95 Lac      77
₹1.50 Cr     69
₹2 Cr        60
₹1.80 Cr     59
             ..
₹5.40 Cr      1
₹19.5 Lac     1
₹1.51 Cr      1
₹36.5 Lac     1
₹33.9 Lac     1
Name: count, Length: 358, dtype: int64

In [71]:
a = df['Price'].value_counts()

In [85]:
#Filtering Price Range
filtered_df = df[df['Price'] == '₹1.99 Cr' or df['Price']=='₹24 Lac']

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [91]:
filtered_df=df[(df['Price']=='₹24 Lac')|(df['Price']=='₹95 Lac')]

In [92]:
filtered_df

,Name,Price,area,price_per_sqft,Furnished,Floor,balcony,bathroom,Bedroom,society
35,2 BHK Ready to Occupy Flat for sale Borivali East,₹95 Lac,₹14615 per sqft,435 sqft,Semi-Furnished,2 out of 4,NaN,2.0,2.0,Borivali East
38,1 BHK Ready to Occupy Flat for sale in Virar B...,₹24 Lac,₹5333 per sqft,350 sqft,Unfurnished,3 out of 25,NaN,1.0,1.0,Virar West
77,1 BHK Ready to Occupy Flat for sale in Mahamay...,₹95 Lac,₹17431 per sqft,480 sqft,Furnished,2 out of 4,NaN,1.0,1.0,Mulund West
78,1 BHK Ready to Occupy Flat for sale Ghatkopar ...,₹95 Lac,₹17273 per sqft,430 sqft,Unfurnished,1 out of 8,NaN,1.0,1.0,Ghatkopar West
92,1 BHK Ready to Occupy Flat for sale in Mihar C...,₹95 Lac,₹16239 per sqft,465 sqft,Furnished,1 out of 7,NaN,1.0,1.0,Charkop Gaon
...,...,...,...,...,...,...,...,...,...,...
3248,2 BHK Ready to Occupy Flat for sale in Poonam ...,₹95 Lac,₹10000 per sqft,585 sqft,Unfurnished,3 out of 21,2,2.0,2.0,Road Area
3268,1 BHK Ready to Occupy Flat for sale in Hiral L...,₹95 Lac,₹20000 per sqft,432 sqft,Unfurnished,6 out of 13,NaN,2.0,1.0,Kandivali West
3371,1 BHK Ready to Occupy Flat for sale in Dipti D...,₹95 Lac,₹16964 per sqft,560 sqft,Semi-Furnished,2 out of 4,NaN,1.0,1.0,Nahur Gaothan
3393,2 BHK Ready to Occupy Flat for sale Beverly Park,₹95 Lac,₹8261 per sqft,600 sqft,Unfurnished,1 out of 9,4,2.0,2.0,Beverly Park
3397,1 BHK Ready to Occupy Flat for sale in Vaishna...,₹24 Lac,₹4364 per sqft,485 sqft,Unfurnished,1 out of 3,NaN,2.0,1.0,Complex Virar

In [93]:
filtered_df=df[df['Price']=='₹24 Lac']

In [94]:
filtered_df

,Name,Price,area,price_per_sqft,Furnished,Floor,balcony,bathroom,Bedroom,society
38,1 BHK Ready to Occupy Flat for sale in Virar B...,₹24 Lac,₹5333 per sqft,350 sqft,Unfurnished,3 out of 25,NaN,1.0,1.0,Virar West
776,Studio Apartment for sale in Mhada Building Ka...,₹24 Lac,₹11765 per sqft,185 sqft,Unfurnished,Ground out of 7,NaN,1.0,NaN,Kandivali West
1342,1 BHK Ready to Occupy Flat for sale in Vaishna...,₹24 Lac,₹4364 per sqft,485 sqft,Unfurnished,1 out of 3,NaN,2.0,1.0,Complex Virar
1800,1 BHK Ready to Occupy Flat for sale in Virar B...,₹24 Lac,₹5333 per sqft,350 sqft,Unfurnished,3 out of 25,NaN,1.0,1.0,Virar West
2481,Studio Apartment for sale in Mhada Building Ka...,₹24 Lac,₹11765 per sqft,185 sqft,Unfurnished,Ground out of 7,NaN,1.0,NaN,Kandivali West
2870,1 BHK Ready to Occupy Flat for sale 302 vithob...,₹24 Lac,₹6000 per sqft,300 sqft,Furnished,3 out of 4,NaN,1.0,1.0,west Mumbai
3397,1 BHK Ready to Occupy Flat for sale in Vaishna...,₹24 Lac,₹4364 per sqft,485 sqft,Unfurnished,1 out of 3,NaN,2.0,1.0,Complex Virar

In [97]:
a=df['society'].value_counts()

In [99]:
a.sample(30)

society
Prabhat Colony             2
Residency Chembur          2
sale Powai                 5
Punjab Society             2
Chawl Mumbai               1
sale Byculla               1
Jethava Nagar              1
sale Prabhadevi            5
Matunga East              13
Moti Nagar                 1
Ghatkopar East            41
Lane Mumbai                1
Garde Kashimira            2
sale Mahim                 1
Kurla East                15
Gaurav Woods               2
Society Mumbai             1
CHS Prabhadevi             1
Heights Gorai              2
Apartments Bandra          1
Navimumbai Mumbai          2
shilpa Mumbai              1
Neptune Powai              2
Aangan Oshiwara            1
building Mumbai            3
Classic Vasai              2
CHS Brahmanwadi            2
Royal Palms                2
Appartments Prabhadevi     2
Nagar Malvani              3
Name: count, dtype: int64