In [59]:
import pandas as pd
import numpy as np

In [60]:
df=pd.read_excel('Feature_flats.xlsx')

In [61]:
#Filing Missing Value of the Buildup Area

In [62]:
one=df[df['bedroom']==1]['Buildup']
two=df[df['bedroom']==2]['Buildup']
three=df[df['bedroom']==3]['Buildup']

#Calculating avg mean
onebhk_mean=one.mean()
twobhk_mean=two.mean()
threebhk_mean=three.mean()

#Filling Missing rows with mean
one=one.fillna(onebhk_mean)
two=two.fillna(twobhk_mean)
three=three.fillna(twobhk_mean)

# concat all the missing values in the buildup Column
df['Buildup']=pd.concat([one,two,three])

In [63]:
#Filling Missing Value of the SuperBuild Area

In [64]:
one=df[df['bedroom']==1]['SuperBuild_area']
two=df[df['bedroom']==2]['SuperBuild_area']
three=df[df['bedroom']==3]['SuperBuild_area']

#Calculating avg mean
onebhk_mean=one.mean()
twobhk_mean=two.mean()
threebhk_mean=three.mean()

#Filling Missing rows with mean
one=one.fillna(onebhk_mean)
two=two.fillna(twobhk_mean)
three=three.fillna(twobhk_mean)

# concat all the missing values in the buildup Column
df['SuperBuild_area']=pd.concat([one,two,three])

In [65]:
df

,name,price,price_per_sqft,area,furnished,floor,balcony,bathroom,bedroom,society,Buildup,SuperBuild_area
0,1 BHK Ready to Occupy Flat for sale Chembur East,0.38,13103.0,NaN,Furnished,1,1,1.0,1,Chembur East,488.000000,551.000000
1,1 BHK Ready to Occupy Flat for sale in Sapphir...,1.07,17120.0,480.0,Semi-Furnished,3,1,2.0,1,Lakeside Powai,490.000000,547.000000
2,1 BHK Ready to Occupy Flat for sale in Royal P...,0.45,5294.0,600.0,Unfurnished,1,3,1.0,1,Nala Sopara,504.000000,535.000000
3,1 BHK Ready to Occupy Flat for sale in Poonam ...,2.25,37500.0,550.0,Semi-Furnished,4,1,2.0,1,Lal Baug,487.000000,534.000000
4,Studio Apartment for sale Virar West,0.15,4480.0,NaN,Unfurnished,3,1,1.0,1,Virar West,491.000000,540.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
3265,3 BHK Ready to Occupy Flat for sale in Silver ...,4.15,36087.0,875.0,Semi-Furnished,5,1,3.0,3,Arch Tardeo,817.358607,1060.879098
3266,3 BHK Ready to Occupy Flat for sale in Lodha A...,6.80,32536.0,NaN,Semi-Furnished,16,2,4.0,3,Sindhu Nagar,817.358607,1060.879098
3267,3 BHK Ready to Occupy Flat for sale in Sneha V...,2.30,23000.0,852.0,Unfurnished,7,1,3.0,3,Bhandup East,817.358607,1060.879098
3268,3 BHK Ready to Occupy Flat for sale in Premier...,2.10,14000.0,900.0,Unfurnished,3,3,3.0,3,Kurla West,817.358607,1060.879098
3269,3 BHK Ready to Occupy Flat for sale in Ratan S...,1.99,NaN,1150.0,Unfurnished,3,1,3.0,3,Malad West,817.358607,1060.879098

In [66]:
df=df.rename(columns={'area':'carpet_area','Buildup':'buildup','SuperBuild_area':'superbuild_area'})

In [67]:
df_1=pd.read_csv('gurgaon_properties_cleaned_v1.csv')
df_1.sample(40)

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
1357,flat,emaar mgf the palm drive,sector 66,2.80,16470.0,1700.0,Super Built up area 1950(181.16 sq.m.)Built Up...,3,4,3,servant room,8.0,North-East,1 to 5 Year Old,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...","['3 Wardrobe', '1 Water Purifier', '6 Fan', '1...","['Security / Fire Alarm', 'Feng Shui / Vaastu ..."
3456,flat,eldeco accolade,sohna road,1.10,7549.0,1457.0,Super Built up area 1457(135.36 sq.m.),2,2,3+,"study room,others",17.0,NaN,1 to 5 Year Old,"['Global City Centre', 'Sohna Road', 'Damdama ...","['1 Water Purifier', '1 Exhaust Fan', '2 Geyse...",['Visitor Parking']
1737,house,rajendra park gurgaon,sector 105,0.37,10277.0,360.0,Plot area 360(33.45 sq.m.),4,3,2,not available,3.0,East,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Chintapurni Man...",[],NaN
3250,flat,conscient heritage max,sector 102,2.20,10237.0,2149.0,Super Built up area 2149(199.65 sq.m.),3,4,3+,"study room,servant room",9.0,South-East,5 to 10 Year Old,"['Huda Metro Station', 'Ocus Medley Mall', 'Th...","['6 AC', '1 Chimney', '1 Modular Kitchen', 'No...","['Security / Fire Alarm', 'Power Back-up', 'Fe..."
1728,house,independent,sector 4,3.25,14444.0,2250.0,Plot area 250(209.03 sq.m.),3,3,2,not available,2.0,South-East,10+ Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Prat...","['30 Light', 'No AC', 'No Bed', 'No Chimney', ...","['Feng Shui / Vaastu Compliant', 'Park', 'Visi..."
611,flat,ireo victory valley,sector 67,3.49,13000.0,2685.0,Carpet area: 2452 (227.8 sq.m.),3,3,3,servant room,19.0,South-East,1 to 5 Year Old,"['AIPL Joy Street Mall', 'Golf Course Extensio...",NaN,"['Centrally Air Conditioned', 'Water purifier'..."
624,flat,unitech the palms,sector 41,2.75,16768.0,1640.0,Super Built up area 1640(152.36 sq.m.),3,3,2,not available,14.0,NaN,10+ Year Old,"['Huda city centre metro station', 'Axis bank ...","['1 Water Purifier', '6 Fan', '1 Fridge', '1 E...","['Centrally Air Conditioned', 'Water purifier'..."
488,flat,signature global park,sohna road,0.72,5991.0,1202.0,Super Built up area 1210(112.41 sq.m.),2,2,3,pooja room,3.0,North-West,1 to 5 Year Old,"['Sector 55-56 metro', 'Global city centre', '...","['3 Fan', '1 Exhaust Fan', '3 Light', '1 Modul...","['Water purifier', 'Centrally Air Conditioned'..."
3516,flat,experion windchants,sector 112,5.60,11551.0,4848.0,Super Built up area 4848(450.39 sq.m.)Built Up...,4,6,3+,servant room,8.0,North-East,1 to 5 Year Old,"['Ansal Plaza', 'Dwaraka Expressway', 'First S...","['7 Fan', '1 Exhaust Fan', '1 Geyser', '6 Ligh...","['Centrally Air Conditioned', 'Water purifier'..."
3483,flat,smart world gems,sector 89,1.20,12526.0,958.0,Carpet area: 958 (89 sq.m.),3,3,3,"pooja room,store room",3.0,East,Oct 2023,"['Sant Soordas Sihi Metro Station', 'Airia Mal...","['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'N...","['Security / Fire Alarm', 'Private Garden / Te..."
573,flat,ansal heights 86,sector 86,0.95,5621.0,1690.0,Carpet area: 1690 (157.01 sq.m.),3,2,1,not available,6.0,NaN,0 to 1 Year Old,"['IRIS Broadway Mall', 'Delhi Jaipur Expresswa...",NaN,"['Intercom Facility', 'Lift(s)', 'Park']"
2311,flat,godrej air,sector 85,1.30,14541.0,894.0,Super Built up area 1400(130.06 sq.m.)Carpet a...,2,2,3,not available,30.0,NaN,Nov 2023,"['Sapphire 83 Mall', 'Sector 86 Road', 'Dwarka...",NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ..."
449,house,ansals palam vihar,sector 2,2.68,17213.0,1557.0,Plot area 173(144.65 sq.m.),4,3,2,store room,3.0,NaN,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","['4 Wardrobe', '4 Fan', '1 Exhaust Fan', '2 Ge...","['Security / Fire Alarm', 'Feng Shui / Vaastu ..."
159,flat,vatika gurgaon,sector 83,0.98,8166.0,1200.0,Super Built up area 1445(134.24 sq.m.)Built Up...,2,2,3,not available,5.0,South,1 to 5 Year Old,"['Huda Metro Station (Gurugram)', 'Sapphire 83...","['3 Fan', '1 Exhaust Fan', '16 Light', '1 Modu...","['Security / Fire Alarm', 'Feng Shui / Vaastu ..."
1001,flat,la vida by tata housing,sector 113,2.85,12855.0,2217.0,Super Built up area 2217(205.97 sq.m.),3,3,3+,servant room,10.0,East,0 to 1 Year Old,"['Dwarka Sector 21', 'Pacific D21 Mall', 'Bajg...",NaN,"['Feng Shui / Vaastu Compliant', 'Security / F..."
844,flat,ramprastha the edge towers,sector 37d,1.00,5649.0,1770.0,Super Built up area 1770(164.44 sq.m.),3,3,3+,not available,13.0,NaN,5 to 10 Year Old,"['MDS Public School', 'St Pauls School', 'Sunc...",[],"['Power Back-up', 'Intercom Facility', 'Lift(s..."
209,flat,pyramid urban homes 2,sector 86,0.42,8483.0,495.0,Carpet area: 501 (46.54 sq.m.),2,2,1,"pooja room,study room,servant room,others",2.0,North-East,0 to 1 Year Old,"['Sapphire 83 Mall', 'Rampura Flyover, Naurang...",NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ..."
509,flat,park royal apartment,sector 56,1.85,9024.0,2050.0,Carpet area: 2050 (190.45 sq.m.),3,4,3,servant room,7.0,NaN,10+ Year Old,"['Sector metro station', 'Sector metro station...","['3 Wardrobe', '5 Fan', '4 Geyser', '10 Light'...","['Feng Shui / Vaastu Compliant', 'Security / F..."
1163,flat,smart world gems,sector 89,0.88,7978.0,1103.0,Built Up area: 1103 (102.47 sq.m.),2,2,0,not available,2.0,NaN,undefined,"['Sant Soordas Sihi Metro Station', 'Airia Mal...","['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN
375,flat,shapoorji pallonji joyville gurugram,sector 102,1.99,20664.0,963.0,Super Built up area 1349(125.33 sq.m.)Carpet a...,2,2,2,not available,14.0,South,Within 6 months,"['Khan Market', 'The Esplanade Mall', 'Dwarka ...","['1 Stove', '2 AC', '1 Chimney', 'No Bed', 'No...","['Centrally Air Conditioned', 'Security / Fire..."
2106,flat,emaar digihomes,sector 62,2.10,14254.0,1473.0,Super Built up area 1508.26(140.12 sq.m.),2,2,2,servant room,30.0,North,0 to 1 Year Old,"['Sector 55-56 Metro Station', 'Omaxe Gurgaon ...","['8 Fan', '8 Light', '6 AC', '2 TV', 'No Bed',...","['Lift(s)', 'High Ceiling Height', 'Maintenanc..."
737,flat,conscient habitat,sector 99a,0.35,6422.0,545.0,Carpet area: 545 (50.63 sq.m.),2,2,1,not available,3.0,North-East,1 to 5 Year Old,NaN,"['2 Fan', '1 Washing Machine', '6 Light', '1 A...","['Security / Fire Alarm', 'Lift(s)', 'Maintena..."
2028,flat,conscient elevate,sector 59,4.02,17500.0,2297.0,Carpet area: 2295 (213.21 sq.m.),3,3,1,not available,3.0,NaN,By 2024,"['Rapid Metro Station Sector 55', 'Paras Trini...",[],"['Power Back-up', 'Intercom Facility', 'Lift(s..."
2022,flat,hsiidc sidco shivalik apartments,manesar,0.85,5102.0,1666.0,Super Built up area 1666(154.78 sq.m.),3,2,2,not available,5.0,NaN,5 to 10 Year Old,"['Pooja Clinic', 'Dr. Sahil Clinic', 'Prakash ...",[],NaN
3772,flat,indiabulls centrum park,sector 103,1.15,8679.0,1325.0,Super Built up area 1325(123.1 sq.m.)Carpet ar...,2,2,3,study room,10.0,North-East,1 to 5 Year Old,"['Gurgaon Dreamz Mall', 'HUDA Market, Sector 1...","['2 Wardrobe', '1 Water Purifier', '3 Fan', '2...","['Centrally Air Conditioned', 'Water purifier'..."
2108,flat,the close south,sector 50,3.25,12810.0,2537.0,Carpet area: 2537 (235.7 sq.m.),3,4,3+,servant room,4.0,South-East,10+ Year Old,"['Fresco Market', 'Emerald Plaza', 'Tagore Pub...","['6 Fan', '1 Fridge', '1 Exhaust Fan', '3 Geys...","['Security / Fire Alarm', 'Feng Shui / Vaastu ..."
711,house,independent,sector 26,20.00,44444.0,4500.0,Plot area 500(418.06 sq.m.),5,7,3+,"servant room,pooja room",3.0,West,1 to 5 Year Old,"['Guru dronacharya metro station', 'Dlf phase ...","['1 Water Purifier', '16 Fan', '1 Fridge', '1 ...","['Security / Fire Alarm', 'Private Garden / Te..."
2367,flat,the close north,sector 50,2.65,10685.0,2480.0,Super Built up area 2480(230.4 sq.m.)Built Up ...,3,4,3+,servant room,6.0,North,5 to 10 Year Old,"['Sector 55-56 Metro Station', 'Eros City Squa...","['5 Fan', '1 Exhaust Fan', '4 Geyser', '1 Stov...","['Centrally Air Conditioned', 'Water purifier'..."
1174,house,eros rosewood city,sector 49,4.05,20769.0,1950.0,Plot area 1710(158.86 sq.m.)Built Up area: 200...,3,3,3,"servant room,store room",2.0,East,5 to 10 Year Old,"['Sri Radhe Krishna Temple', 'Standard charter...","['3 Wardrobe', '6 Fan', '3 Geyser', '5 Light',...","['Private Garden / Terrace', 'High Ceiling Hei..."
2079,flat,orris aster court premier,sector 85,1.49,5820.0,2560.0,Super Built up area 2560(237.83 sq.m.)Built Up...,4,5,3+,servant room,10.0,East,1 to 5 Year Old,"['Propose Metro Station', 'SS Omnia Mall', 'Na...","['1 Stove', '5 AC', '1 Chimney', '1 Modular Ki...","['Lift(s)', 'Maintenance Staff', 'Water Storag..."
3392,flat,railway officers rpf society,sector 9a,1.25,6921.0,1806.0,Carpet area: 1806 (167.78 sq.m.),4,3,3,servant room,1.0,South-West,10+ Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Esic...","['3 Wardrobe', '1 Exhaust Fan', '3 Geyser', '1...","['Power Back-up', 'Feng Shui / Vaastu Complian..."
1438,flat,umang monsoon breeze,sector 78,1.15,5284.0,2176.0,Super Built up area 2176(202.16 sq.m.),3,3,3,"servant room,others",9.0,NaN,5 to 10 Year Old,"['Proposed Metro Station', 'Mahapal Shing', 'N...",NaN,"['Security / Fire Alarm', 'Intercom Facility',..."
1707,flat,m3m merlin,sector 67,3.40,14418.0,2358.0,Super Built up area 2358(219.07 sq.m.)Carpet a...,3,4,3,servant room,16.0,North-West,1 to 5 Year Old,"['Airia Mall', 'Golf Course Extension Road', '...","['1 Water Purifier', '7 Fan', '1 Exhaust Fan',...","['Centrally Air Conditioned', 'Water purifier'..."
2119,flat,sare homes,sector 92,0.60,5000.0,1200.0,Carpet area: 1200 (111.48 sq.m.),3,2,3,not available,4.0,NaN,5 to 10 Year Old,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Security / F..."
2525,flat,tulip violet,sector 69,1.40,8928.0,1568.0,Super Built up area 1568(145.67 sq.m.),3,3,1,not available,12.0,North,1 to 5 Year Old,"['Airia Mall Sector 68', 'Southern Peripheral ...","['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Water purifier', 'Security / Fire Alarm', 'F..."
1392,house,independent,sector 3 phase 2,1.00,11111.0,900.0,Plot area 900(83.61 sq.m.),3,4,2,not available,2.0,NaN,1 to 5 Year Old,"['Sheetla Mata Mandir', 'Chintapurni Mandir', ...",[],NaN
3206,flat,chd avenue,sector 71,0.82,7083.0,1158.0,Super Built up area 1200(111.48 sq.m.),2,2,2,not available,6.0,NaN,5 to 10 Year Old,"['Huda City Centre', 'Apna Mart', 'Rajiv Chowk...",[],NaN
1053,flat,umang monsoon breeze,sector 78,1.15,5284.0,2176.0,Super Built up area 2176(202.16 sq.m.),3,3,3,"servant room,others",9.0,NaN,5 to 10 Year Old,"['Proposed Metro Station', 'Mahapal Shing', 'N...",NaN,"['Security / Fire Alarm', 'Intercom Facility',..."
2024,flat,ansal housing highland park,sector 103,0.80,5878.0,1361.0,Super Built up area 1361(126.44 sq.m.)Built Up...,2,2,3,pooja room,3.0,East,0 to 1 Year Old,"['State bank ATM', 'Dr. Hitesh Dawar', 'Bhardw...","['4 Fan', '4 Light', '1 Modular Kitchen', 'No ...","['Centrally Air Conditioned', 'Water purifier'..."
1606,flat,apex builders,sector 37c,0.42,5600.0,750.0,Carpet area: 750 (69.68 sq.m.),2,2,2,not available,4.0,North,1 to 5 Year Old,"['Kamla Hospital Gurgaon', 'Shri Multispeciali...",NaN,"['Feng Shui / Vaastu Compliant', 'Security / F..."

In [68]:
df.head()

,name,price,price_per_sqft,carpet_area,furnished,floor,balcony,bathroom,bedroom,society,buildup,superbuild_area
0,1 BHK Ready to Occupy Flat for sale Chembur East,0.38,13103.0,NaN,Furnished,1,1,1.0,1,Chembur East,488.0,551.0
1,1 BHK Ready to Occupy Flat for sale in Sapphir...,1.07,17120.0,480.0,Semi-Furnished,3,1,2.0,1,Lakeside Powai,490.0,547.0
2,1 BHK Ready to Occupy Flat for sale in Royal P...,0.45,5294.0,600.0,Unfurnished,1,3,1.0,1,Nala Sopara,504.0,535.0
3,1 BHK Ready to Occupy Flat for sale in Poonam ...,2.25,37500.0,550.0,Semi-Furnished,4,1,2.0,1,Lal Baug,487.0,534.0
4,Studio Apartment for sale Virar West,0.15,4480.0,NaN,Unfurnished,3,1,1.0,1,Virar West,491.0,540.0

In [69]:
#Features Section
df['features']=df_1['features']
df.head(10)

,name,price,price_per_sqft,carpet_area,furnished,floor,balcony,bathroom,bedroom,society,buildup,superbuild_area,features
0,1 BHK Ready to Occupy Flat for sale Chembur East,0.38,13103.0,NaN,Furnished,1,1,1.0,1,Chembur East,488.0,551.0,"['Lift(s)', 'Park']"
1,1 BHK Ready to Occupy Flat for sale in Sapphir...,1.07,17120.0,480.0,Semi-Furnished,3,1,2.0,1,Lakeside Powai,490.0,547.0,"['Power Back-up', 'Intercom Facility', 'Lift(s..."
2,1 BHK Ready to Occupy Flat for sale in Royal P...,0.45,5294.0,600.0,Unfurnished,1,3,1.0,1,Nala Sopara,504.0,535.0,"['Intercom Facility', 'Lift(s)', 'Park']"
3,1 BHK Ready to Occupy Flat for sale in Poonam ...,2.25,37500.0,550.0,Semi-Furnished,4,1,2.0,1,Lal Baug,487.0,534.0,"['Feng Shui / Vaastu Compliant', 'Security / F..."
4,Studio Apartment for sale Virar West,0.15,4480.0,NaN,Unfurnished,3,1,1.0,1,Virar West,491.0,540.0,"['Centrally Air Conditioned', 'Water purifier'..."
5,1 BHK Ready to Occupy Flat for sale Versova An...,0.23,6216.0,300.0,Semi-Furnished,4,1,1.0,1,Andheri West,500.0,557.0,"['Centrally Air Conditioned', 'Water purifier'..."
6,1 BHK Ready to Occupy Flat for sale in Chandak...,0.92,16673.0,368.0,Unfurnished,30,1,2.0,1,Borivali East,489.0,535.0,"['Feng Shui / Vaastu Compliant', 'Security / F..."
7,1 BHK Ready to Occupy Flat for sale Ghodbunder,0.65,10109.0,475.0,Unfurnished,4,1,2.0,1,sale Ghodbunder,503.0,544.0,"['Security / Fire Alarm', 'Feng Shui / Vaastu ..."
8,1 BHK Ready to Occupy Flat for sale Tilak Naga...,0.84,25846.0,NaN,Semi-Furnished,1,1,1.0,1,Nagar Chembur,492.0,539.0,"['Water purifier', 'Security / Fire Alarm', 'F..."
9,1 BHK Ready to Occupy Flat for sale in Panchsh...,1.10,14667.0,525.0,Unfurnished,2,1,2.0,1,Kurla Complex,494.0,538.0,"['Private Garden / Terrace', 'Waste Disposal']"

In [70]:
#Unfurnished
df_1['furnishDetails'].iloc[2077]

"['1 Light', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Fan', 'No Geyser', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Wardrobe', 'No Washing Machine', 'No Water Purifier']"

In [71]:
#Semi Furnished
df_1['furnishDetails'].iloc[2032]

"['1 Fan', '1 Light', '1 AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Geyser', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Wardrobe', 'No Washing Machine', 'No Water Purifier']"

In [72]:
#Furnished
df_1['furnishDetails'].iloc[3379]

"['4 Wardrobe', '1 Water Purifier', '6 Fan', '1 Exhaust Fan', '4 Geyser', '10 Light', '6 AC', '1 Modular Kitchen', '1 Curtains', 'No Bed', 'No Chimney', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine']"

In [73]:
#Replacing all Categorical Value with furnished_details

furnished = df[df['furnished'] == 'Furnished']
semi_furnished = df[df['furnished'] == 'Semi-Furnished']
unfurnished = df[df['furnished'] == 'Unfurnished']

furnished=furnished['furnished'].replace('Furnished',"['4 Wardrobe', '1 Water Purifier', '6 Fan', '1 Exhaust Fan', '4 Geyser', '10 Light', '6 AC', '1 Modular Kitchen', '1 Curtains', 'No Bed', 'No Chimney', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine']")
semi_furnished=semi_furnished['furnished'].replace('Semi-Furnished', "['1 Fan', '1 Light', '1 AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Geyser', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Wardrobe', 'No Washing Machine', 'No Water Purifier']")
unfurnished=unfurnished['furnished'].replace('Unfurnished',"['1 Light', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Fan', 'No Geyser', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Wardrobe', 'No Washing Machine', 'No Water Purifier']")

df['furnished']=pd.concat([furnished,semi_furnished,unfurnished])

In [75]:
df=df

In [77]:
df.columns

Index(['name', 'price', 'price_per_sqft', 'carpet_area', 'furnished', 'floor',
       'balcony', 'bathroom', 'bedroom', 'society', 'buildup',
       'superbuild_area', 'features'],
      dtype='object')