In [274]:
import pandas as pd
import numpy as np

In [275]:
#Renames
# df=df.rename(columns={'Sqft':'price_per_sqft','Carpet':'area','Price':'price','Bedroom':'bedroom',
#                       'Floor':'floor','Furnished':'furnished','Name':'name'})

In [276]:
df=pd.read_excel('Mumbai_flats.xlsx')
df.drop(columns=['Link','Society'],inplace=True)

In [277]:
df

,Name,Price,Sqft,Carpet,Furnished,Floor,balcony,bathroom,Bedroom,society
0,3 BHK Ready to Occupy Flat for sale in Girivan...,₹3.10 Cr,₹25833 per sqft,979 sqft,Semi-Furnished,6 out of 13,1,3.0,3.0,Paramjyoti Chembur
1,2 BHK Ready to Occupy Flat for sale Dahisar West,₹1.85 Cr,NaN,707 sqft,Unfurnished,3 out of 6,NaN,2.0,2.0,Dahisar West
2,1 BHK Ready to Occupy Flat for sale Chembur East,₹38 Lac,₹13103 per sqft,NaN,Furnished,1 out of 3,NaN,1.0,1.0,Chembur East
3,2 BHK Ready to Occupy Flat for sale in Royal S...,₹1.80 Cr,₹16071 per sqft,625 sqft,Semi-Furnished,7 out of 16,NaN,2.0,2.0,Malad West
4,2 BHK Ready to Occupy Flat for sale Bandra West,₹3.20 Cr,₹40000 per sqft,560 sqft,Semi-Furnished,1 out of 4,1,2.0,2.0,Bandra West
...,...,...,...,...,...,...,...,...,...,...
3395,2 BHK Ready to Occupy Flat for sale in MICL Aa...,₹1.15 Cr,₹16429 per sqft,630 sqft,Semi-Furnished,21 out of 30,2,2.0,2.0,Mira Road
3396,2 BHK Ready to Occupy Flat for sale in Acme Aa...,₹1.60 Cr,₹20000 per sqft,NaN,Semi-Furnished,1 out of 5,NaN,2.0,2.0,Goregaon West
3397,1 BHK Ready to Occupy Flat for sale in Vaishna...,₹24 Lac,₹4364 per sqft,485 sqft,Unfurnished,1 out of 3,NaN,2.0,1.0,Complex Virar
3398,1 BHK Ready to Occupy Flat for sale in A And O...,₹75 Lac,NaN,315 sqft,Unfurnished,15 out of 23,NaN,2.0,1.0,Tambe Nagar
3399,3 BHK Ready to Occupy Flat for sale in Ratan S...,₹1.99 Cr,NaN,1150 sqft,Unfurnished,3 out of 7,1,3.0,3.0,Malad West

In [278]:
#Sample Data
cleaned=pd.read_csv('flats_cleaned.csv')
# cleaned.info()
flats=pd.read_csv('flats.csv')

# Converting Price into Float

In [279]:
import re
df['Price']=df['Price'].str.replace('₹', '')
df['Price']

0       3.10 Cr
1       1.85 Cr
2        38 Lac
3       1.80 Cr
4       3.20 Cr
         ...
3395    1.15 Cr
3396    1.60 Cr
3397     24 Lac
3398     75 Lac
3399    1.99 Cr
Name: Price, Length: 3400, dtype: object

In [280]:
def treat_price(x):
    if isinstance(x, float):  # Check if x is already a float
        return x
    elif 'Lac' in x:
        return round(float(x.replace('Lac', '')) / 100, 2)  # Convert lakh to float
    elif 'Cr' in x:
        return round(float(x.replace('Cr', '')), 2)  # Keep 'Cr' amounts unchanged
    else:
        return round(float(x), 1)

df['Price'] = df['Price'].apply(treat_price)

In [281]:
df.head()

,Name,Price,Sqft,Carpet,Furnished,Floor,balcony,bathroom,Bedroom,society
0,3 BHK Ready to Occupy Flat for sale in Girivan...,3.10,₹25833 per sqft,979 sqft,Semi-Furnished,6 out of 13,1,3.0,3.0,Paramjyoti Chembur
1,2 BHK Ready to Occupy Flat for sale Dahisar West,1.85,NaN,707 sqft,Unfurnished,3 out of 6,NaN,2.0,2.0,Dahisar West
2,1 BHK Ready to Occupy Flat for sale Chembur East,0.38,₹13103 per sqft,NaN,Furnished,1 out of 3,NaN,1.0,1.0,Chembur East
3,2 BHK Ready to Occupy Flat for sale in Royal S...,1.80,₹16071 per sqft,625 sqft,Semi-Furnished,7 out of 16,NaN,2.0,2.0,Malad West
4,2 BHK Ready to Occupy Flat for sale Bandra West,3.20,₹40000 per sqft,560 sqft,Semi-Furnished,1 out of 4,1,2.0,2.0,Bandra West

In [282]:
df['Sqft'].describe()

count                3031
unique               1400
top       ₹20000 per sqft
freq                   50
Name: Sqft, dtype: object

In [283]:
import re

df['Sqft']

0       ₹25833 per sqft
1                   NaN
2       ₹13103 per sqft
3       ₹16071 per sqft
4       ₹40000 per sqft
             ...
3395    ₹16429 per sqft
3396    ₹20000 per sqft
3397     ₹4364 per sqft
3398                NaN
3399                NaN
Name: Sqft, Length: 3400, dtype: object

In [284]:
import re
# Remove '₹ per sqft' from each string in the 'Sqft' column
df['Sqft'] = df['Sqft'].str.replace(r'\₹', '')

# Print the updated DataFrame
df['Sqft']=df['Sqft'].str.replace('per','')
df['Sqft']

C:\Users\SIDDESH VICHARE\AppData\Local\Temp\ipykernel_10928\145746167.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Sqft'] = df['Sqft'].str.replace(r'\₹', '')

0       25833  sqft
1               NaN
2       13103  sqft
3       16071  sqft
4       40000  sqft
           ...
3395    16429  sqft
3396    20000  sqft
3397     4364  sqft
3398            NaN
3399            NaN
Name: Sqft, Length: 3400, dtype: object

In [285]:
df['Sqft']

0       25833  sqft
1               NaN
2       13103  sqft
3       16071  sqft
4       40000  sqft
           ...
3395    16429  sqft
3396    20000  sqft
3397     4364  sqft
3398            NaN
3399            NaN
Name: Sqft, Length: 3400, dtype: object

In [286]:
float(25833)/1

25833.0

In [287]:
def treat_sqfts(x):
    if isinstance(x,float):
        return x
    elif 'sqft' in x:
        return round(float(x.replace('sqft',''))/1)
    else:
        return np.nan

In [288]:
df['Sqft']=df['Sqft'].apply(treat_sqft)

In [289]:
df['Sqft'].dtype

dtype('float64')

In [290]:
df.head(3)

,Name,Price,Sqft,Carpet,Furnished,Floor,balcony,bathroom,Bedroom,society
0,3 BHK Ready to Occupy Flat for sale in Girivan...,3.10,25833.0,979 sqft,Semi-Furnished,6 out of 13,1,3.0,3.0,Paramjyoti Chembur
1,2 BHK Ready to Occupy Flat for sale Dahisar West,1.85,NaN,707 sqft,Unfurnished,3 out of 6,NaN,2.0,2.0,Dahisar West
2,1 BHK Ready to Occupy Flat for sale Chembur East,0.38,13103.0,NaN,Furnished,1 out of 3,NaN,1.0,1.0,Chembur East

In [291]:
df['Carpet']=df['Carpet'].apply(treat_sqfts)

In [292]:
def treat_int(x):
    if isinstance(x,int):
        return x
    elif x==1:
        return astype(x)
    else:
        return 'None'

In [293]:
df['Carpet']

0        979.0
1        707.0
2          NaN
3        625.0
4        560.0
         ...
3395     630.0
3396       NaN
3397     485.0
3398     315.0
3399    1150.0
Name: Carpet, Length: 3400, dtype: float64

In [294]:
cleaned.head(4)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,flat,maa bhagwati residency,0.45,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,"Krishna Colony, Gurgaon, Haryana",4.0,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,flat,apna enclave,0.50,7692.0,650.0,Carpet area: 650 (60.39 sq.m.),2,2,1,not available,"46b, Ashok Vihar, Gurgaon, Haryana",1.0,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,flat,tulsiani easy in homes,0.40,6722.0,595.0,Carpet area: 595 (55.28 sq.m.),2,2,3,not available,"Sohna, Gurgaon, Haryana",12.0,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,flat,smart world orchard,1.47,12250.0,1200.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,study room,"Sector 61 Gurgaon, Gurgaon, Haryana",2.0,NaN,Dec 2023,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN

In [302]:
floors=df['Floor'].str.split()
for x in floors:
    floor=

TypeError: 'float' object is not subscriptable

In [296]:
df['Floor']

0        6 out of 13
1         3 out of 6
2         1 out of 3
3        7 out of 16
4         1 out of 4
            ...
3395    21 out of 30
3396      1 out of 5
3397      1 out of 3
3398    15 out of 23
3399      3 out of 7
Name: Floor, Length: 3400, dtype: object

In [297]:
def treat_sqfts(x):
    if isinstance(x,float):
        return x
    elif 'out of' in x:
        return round(float(x.replace('out of',''))/1)
    else:
        return np.nan

In [273]:
df['Floor']=df['Floor'].apply(treat_sqfts)

ValueError: could not convert string to float: '6  13'